.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.logo-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #95e1d3;
}

.nav-list {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

.nav-item {
  margin-left: 55px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #95e1d3;
}

.nav-link.active {
  color: #f38181;
  position: relative;
}
.nav-link:hover {
  color: #f38181;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background-color: #f38181;
}

.our-team {
  width: 1200px;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 80px;
}

.description {
  padding: 0 50px;
  text-align: center;
}

.above-heading {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 35px;
  color: #333333;
}

.heading {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 85px;
}

.heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60px;
  left: 102px;
  bottom: -40px;
  background-color: #f38181;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  color: #b6b6b6;
}

.team-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

ul {
  padding: 0;
}

.image {
  margin-bottom: 30px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-variant: small-caps;
  line-height: 17px;
  text-align: center;
  color: #333333;
  margin: 0 0 11px 0;
}

.position {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #b6b6b6;
  margin: 0;
}

.services {
  width: 1200px;
  margin: 0 auto;
  padding-top: 68px;
  text-align: center;
}

.services .heading {
  margin-bottom: 110px;
}

.services .heading::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60px;
  left: 130px;
  bottom: -40px;
  background-color: #f38181;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.service-items {
  display: flex;
  width: 350px;
}

.service-items:nth-child(1),
.service-items:nth-child(2),
.service-items:nth-child(3) {
  margin-bottom: 100px;
}

.service-img {
  height: 37px;
}

.services-description {
  margin-left: 20px;
  text-align: left;
  width: 330px;
}

.service-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-variant: small-caps;
  line-height: 17px;
  color: #333333;
  margin: 0 0 20px 0;
}

.service-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b6;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: solid 1px #b6b6b6;
  height: 50px;
  width: 1200px;
  margin: 0 auto;
}

form {
  display: flex;
  margin-top: 10px;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  border: 1px solid #b6b6b6;
  border-right: none;
  width: 230px;
  height: 39px;
  padding: 0 10px;
}

input::placeholder {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b6b6b6;
  text-transform: capitalize;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  width: 150px;
  height: 41px;
  background-color: #95e1d3;
}

.copyrights {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.footer-link {
  color: #f38181;
}
